@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card {
    font-family: "Roboto Mono";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 265px;
    padding: 4px;
    margin: 5px;
    border: 1px solid rgba(0,0,0,0.7);
    border-radius: 10px;
    box-shadow: 3px 2px 5px rgba(0,0,0,0.5);
    background-color:rgba(217,210,10, 0.8);
    //background: #ff2800;

    .cardInner {
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
        box-shadow: inset 6px 6px 200px 2px rgba(0,0,0,0.4);
        border: 1px solid #333;
        
        .cardHeader {
            font-family: "Roboto Condensed";
            display: flex;
            justify-content: center;
            color: #333;
            padding: 0.2rem 1rem;
            font-size: 1.2rem;
            //text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
            margin-bottom: 0.2rem;
            border-bottom: 1px dotted rgba(0,0,0,0.2);
            background: rgba(255,255,255, 0.4);
        }
    
        .cardBody {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .cardImage {
                display: flex;
                background:rgba(255,255,255,0.3);
                border-radius: 3px;
                justify-content: center;
                align-items: center;
                //box-shadow: 3px 2px 5px rgba(0,0,0,0.5);
                width: 110px;
                height: 110px;
                border: 1px solid rgba(255,255,255, 0.4);
                margin: 0.4rem;
            }
            .cardTypes {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 1rem 0rem;

                .typeFlair {
                    color: #fff;
                    border-radius: 6px;
                    padding: 0.4rem;
                    margin: 0.5rem 0.2rem;
                    border: 1px solid rgba(0,0,0,0.5);
                    text-align: center;
                    font-size: 0.8rem;
                    //text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
                    //box-shadow: 3px 2px 5px rgba(0,0,0,0.5);
                }
            }
            .set {
                width: 100%;
                text-align: center;
                .cardHeaderNumber {
                    font-size: 0.8rem;
                    background: rgba(255,255,255, 0.2);
                    color: #333;
                    text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
                }
            }
        }

    }
}